body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --dark-gray: hsl(228, 12%, 44%);
    --gray: hsl(230, 22%, 74%);
}
.wrapper{
    padding: 0 30px;
}


.card {
    border-radius: 5px;
    overflow: hidden;
    background: hsl(227, 47%, 96%);
    text-align: center;

}
.card:before {
    content: "";
    height: 4px;
    display: block;
    background: var(--facebook);
    
}

.card-user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    font-size: .9em;
    font-weight: bold;
}

.card-user img {
    margin-right: 5px;
}

.card-followers {

}

.card-followers__number {
    font-size: 50px;
    font-weight: 700;
}
.card-followers__title {
    display: block;
    text-transform: uppercase;
    color: var(--gray);
    letter-spacing: 5px;
    font-size: .75em;
}

.card-today {
    color: var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-today img {
    margin-right: 5px;
}