body {
    margin: 0;
}
.wrapper{
    padding: 0 30px;
}


.card {
    border-radius: 5px;
    overflow: hidden;
    background: hsl(227, 47%, 96%);

}
.card:before {
    content: "";
    height: 4px;
    display: block;
    background: red;
    
}